h1 {
    color: #800000;
}

.post {
    background: #ffebcd;
}

.user {
    font-style: italic;
    font-size: 26px;
}

.content {
    white-space: pre-wrap;
    /* Preserve whitespace and line breaks so that the content appears as entered */
}