body {
    margin-left: 20px;
    font-family: Arial, sans-serif;
}

.chat {
    background: #f0f8ff;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
    width: 350px;
}

.msg {
    background: #1e90ff;
    color: #fff;
    padding: 5px 15px;
    border-radius: 16px;
    text-align: left;
}